- provide(:title, "About")
section.hero.is-large
  .hero-body
    .container.has-text-centered
      h1.title About
      h2.subtitle このページは、<a href="https://spectra.tokyo">Spectra</a>の研修で作成した、Twitter likeなマイクロブログサービスです。