<% provide(:title, "About") %>
<section class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        About
      </h1>
      <h2 class="subtitle">
        このページは、<a href="https://spectra.tokyo">Spectra</a>の研修で作成した、Twitter likeなマイクロブログサービスです。
      </h2>
    </div>
  </div>
</section>