<% provide(:title, "Help") %>
<section class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Help
      </h1>
      <h2 class="subtitle">
        This is "Help" page
      </h2>
    </div>
  </div>
</section>