.tile.is-parent
  .tile.is-child
    .card
      .card-content
        .media
          .media-left
            figure.image.is-48x48
              = gravatar_for user, size: 50
          .media-content
            = link_to user.name, user, class: "title"
          - if current_user.admin? && !current_user?(user)
            = link_to "delete", user, method: :delete,        \
              data: { confirm: "You sure?" }, class: "delete"
