<div class="tile is-parent">
  <div class="tile is-child">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <%= gravatar_for user, size: 50 %>
            </figure>
          </div>
          <div class="media-content">
            <%= link_to user.name, user, class: "title" %>
          </div>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "delete", user, method: :delete,
                                          data: { confirm: "You sure?" }, class: "delete" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>