<% provide(:title, 'All users') %>
<section class="hero">
  <div class="hero-body">
    <h1 class="title">All users</h1>
    <hr>

    <%= will_paginate @user, renderer: BulmaPagination::Rails %>

    <ul class="users">
      <%= render @users %>
    </ul>

    <%= will_paginate @user, renderer: BulmaPagination::Rails %>
  </div>
</section>