<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<section class="hero">
  <div class="hero-body">
    <h1 class="title">Sign up</h1>

    <%= render 'form',  url: signup_path %>
  </div>
</section>