= form_for(@micropost) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    .control
      = f.text_area :content, placeholder: "Compose new micropost...", class: "textarea", autofocus: true
    span.picture
      = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
  .field
    .control
      = f.submit "Post", class: "button is-link is-fullwidth", id: "message-text"
javascript:
  document.getElementById('micropost_picture').addEventListener('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
