@import "bulma";
@import "font-awesome";

// global
.section {
  padding: 2rem 1.5rem;
}

// Navbar

.navbar-brand {
  .title {
    margin-bottom: 0rem;
    .navbar-item {
      color: white;
    }
  }
}

// microposts

.content {
  color: black;
}