footer.footer
  .content.has-text-centered
    small
      a href="https://rails52microblog.heroku.com"  Microblog
      = ' '
      | by
      a href="https://www.twitter.com/siu_issiki"  Siu Issiki
