<footer class="footer">
  <div class="content has-text-centered">
    <small>
      <a href="https://rails52microblog.heroku.com">Microblog</a>
      by <a href="https://www.twitter.com/siu_issiki">Siu Issiki</a>
    </small>
  </div>
</footer>